.videoPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.videoPlayer__content {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.videoPlayer__status {
  margin-top: 10px;
  font-size: 1.2em;
  color: #444;
}
